.chart-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 4px solid #c8ced3;
  border-radius: 0.25rem;
  padding: 0 1rem;
}

.w-100{
  width: 100% !important;
}