.cardNum{
  font-size: 2.5vw;
}
.cardUnit{
  font-size: 1.5vw;
  padding:5px;
}

.cardBox{
  box-shadow:none;
  width: 90%;
}

@media(max-width:992px){
  .cardNum{
    font-size: 70px !important;
    font-weight: 600;
  }
  .cardUnit{
    font-size: 25px !important;
    padding:5px;
    font-weight: 600;
  }
  .cardBox{
    width: 100%;
  }
}
@media(max-width:576px){
  .cardNum{
    font-size: 12vw !important;
    font-weight: 600;
  }
  .cardUnit{
    font-size: 6vw !important;
    padding:5px;
    font-weight: 600;
  }
}